<template name="aggregator_archive">
    <div class="container-fluid">
        {{>aggregator}}

        <div class="col-lg-12 padd-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button id="fetchBtn" class="btn btn-danger btn-sm">Fetch</button>
                    {{> feedsTable}}

                    <ul class="pager">
                        <li><a class="prevBtn" href="#">Previous</a></li>
                        <li><a class="nextBtn" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="feedsTable">
    <table class="table table-responsive">
        <thead>
            <th></th>
            <th>Title</th>
            <th>Date</th>
            <th>Source</th>
        </thead>
        <tbody>
        {{#each feeds}}
            <tr>
                <td><a href={{link }} target="_blank">View Link</a></td>
                <td>{{title}}</td>
                <td>{{formatDate pubDate}}</td>
                <td>{{source}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>