<template name="adminLayout">
    <div class="col-xs-12 no-padd" id="adminBasePage">
        {{>adminNavibar}}
        {{>adminPageContainer}}
    </div>
</template>

<template name="adminNavibar">
    <div id="adminNav">
        <div id="adminLogo">
            <img src="/images/icons/site/logo.png" class="col-xs-12">
        </div>
        <div class="top-100"></div>
        <ul class="tahoma">
            <li id="l1">
                <a><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li id="l2" onclick="ToggleElement('l2_0')">
                <a> <i class="fa fa-users"></i>Users</a>
            </li>
            <ul id="l2_0" class="no-display">
                <li id="l2_1"><a href="/admin/allusers">All users</a></li>
                <li id="l2_2"><a href="/admin/addnewuser">Add New</a></li>
                <li id="l2_3"><a href="/admin/profile">Your Profile</a></li>
            </ul>
            <li id="l3" onclick="ToggleElement('l3_0')">
                <a> <i class="fa fa-newspaper-o"></i>Posts</a>
            </li>
            <ul id="l3_0" class="no-display">
                <li id="l3_1"><a href="/admin/allposts">All Posts</a></li>
                <li id="l3_2"><a href="/admin/newpost">Add New</a></li>
                <li id="l3_3"><a href="/admin/newscategories">Categories</a></li>
                <li id="l3_4"><a href="/admin/tags">Tags</a></li>
            </ul>
            <li id="l4" onclick="ToggleElement('l4_0')">
                <a><i class="fa fa-list-alt"></i>Media</a>
            </li>
            <ul id="l4_0" class="no-display">
                <li id="l4_1"><a href="/admin/videos">Videos</a></li>
                <li id="l4_2"><a href="/admin/ads">Advertisements</a></li>
            </ul>
            <li id="l5" onclick="ToggleElement('l5_0')">
                <a> <i class="fa fa-wrench"></i>Tools</a>
            </li>
            <ul id="l5_0" class="no-display">
                <li id="15_1"><a href="/admin/aggregator">Aggregator</a></li>
                <li id="15_1"><a href="/admin/aggregator">Auto Post</a></li>
            </ul>
            <li id="l6" onclick="ToggleElement('l6_0')">
                <a href="/admin/settings"> <i class="fa fa-cog"></i>Settings</a>
            </li>
            <ul id="l6_0" class="no-display">
                <li id="l6_1"><a href="/admin/themes">Theme</a></li>
            </ul>
            <li id="l7">
                <a> <i class="fa fa-arrow-right"></i>Log Out</a>
            </li>
        </ul>
    </div>
</template>

<template name="adminPageContainer">
    <div id="adminPageContainer">
        <div class="row" style="margin-left: 0; margin-right: 0">
            <div class="col-lg-12">
                {{>yield}}
            </div>
        </div>
    </div>
</template>