<template name="sitePerCategory">
    <div class="bgwhite col-xs-12 page">
        <div class="row">
            <div class="col-md-8 leftContainer padd-5">
                <div class="col-xs-12 no-padd featuredArticle  ">
                    <img src="{{FeaturedArticle.images.[0].url}}" class="col-xs-12 no-padd bottom-20">
                    <h5 class="_19 bold">{{FeaturedArticle.title}}</h5>
                    <small class="_12">By: {{FeaturedArticle.author}}</small>
                    <p class="fgray1"><small>{{StringLimit 400 FeaturedArticle.body}}...</small></p>
                    <small class="_10 pull-right">Posted By: {{FeaturedArticle.postedBy}}</small>
                </div>
                <div class="col-md-6 padd-5 ">
                    {{#each CTGLArticles}}
                        <div class="ContainerArticle col-xs-12 no-padd ">
                            <h5 class="_15 fgray1 bold">{{title}}</h5>
                            <small class="_12">By: {{author}}</small>
                            <div class="col-xs-12 no-padd">
                                <p class="fgray1"><img src="images/uploads/owner.jpg" class="ArticleOwnerImg pull-right"><small>{{StringLimit 220 body}}...</small></p>
                            </div>
                            <small class="_10 pull-right">Posted By: {{postedBy}}</small>
                        </div>
                    {{/each}}
                </div>
                <div class="col-md-6 padd-5 ">
                    {{#each CTGRArticles}}
                        <div class="ContainerArticle col-xs-12 no-padd ">
                            <h5 class="_15 fgray1 bold">{{title}}</h5>
                            <small class="_12">By: {{author}}</small>
                            <div class="col-xs-12 no-padd">
                                <p class="fgray1"><img src="images/uploads/owner.jpg" class="ArticleOwnerImg pull-right"><small>{{StringLimit 220 body}}...</small></p>
                            </div>
                            <small class="_10 pull-right">Posted By: {{postedBy}}</small>
                        </div>
                    {{/each}}
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 section bottom-10">
                        <label class="bold _17 fgray1">CNC VIDEOS</label>
                    </div>
                    <div class="col-xs-12 no-padd">
                        <div class="col-sm-12 padd-5" style="max-height: 380px;overflow-y: scroll">
                            {{#each Videos}}
                                <div class="video-container bottom-10">
                                    <iframe
                                            src="http://www.youtube.com/embed/{{link}}?autoplay={{autoplay}}">
                                    </iframe>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-padd">
                {{>externalNews}}
            </div>
        </div>
        <div class="row">
            {{>siteFooter}}
        </div>
    </div>
</template>