<template name="sitePerCategory">
    <div class="bgwhite col-xs-12 page">
        <div class="row">
            <div class="col-md-8">
                <div class="col-xs-12">
                    <h1>Featured news</h1>
                </div>
                <div class="col-md-6">
                    <h1>Category left</h1>
                </div>
                <div class="col-md-6">
                    <h1>Category left</h1>
                </div>
                <div class="col-xs-12">
                    <h1>Video Section</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-xs-12">
                    <h1>Right space</h1>
                </div>
            </div>
        </div>
    </div>
</template>