<template name="siteFooter">
    <div class="col-xs-12 section helvetica _12 padd-10">
        &copy; Concept News Central |
        <span>Contact us</span> |
        <span>Work with us</span> |
        <span>Advertise</span> |
        <span>Privacy</span> |
        <span>Terms of Service</span> |
        <span>Sitemap</span> |
        <span>Help</span> |
        <span>Feedback</span> |
        <span>Subscription</span>
        <span class="pull-right bold">Powered by: Data Genesis Solutions</span>
    </div>
</template>