<template name="siteHomePage">
    <div class="bgwhite col-xs-12 page">
        <div class="row">
            <div class="col-md-3">
                <h1>Left</h1>
            </div>
            <div class="col-md-5">
                <h1>Middle</h1>
            </div>
            <div class="col-md-4">
                <h1>Right</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Video</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h1>lower left</h1>
            </div>
            <div class="col-md-5">
                <h1>lower right</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Footer</h1>
            </div>
        </div>
    </div>
</template>