<template name="siteNewsView">
    <div class="bgwhite col-xs-12 page">
        <div class="row">
            <div class="col-xs-12">
                <h1>Title</h1>
            </div>
            <div class="col-md-8">
                <h1>New body</h1>
            </div>
            <div class="col-md-4">
                <h1>related news and ads</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Footer</h1>
            </div>
        </div>
    </div>
</template>