<template name="siteNewsView">
    <div class="bgwhite col-xs-12 page">
        <div class="row">
            <div class="col-xs-12 section padd-10">
                <h3 class=" bold text-center">{{FeaturedArticle.title}}</h3>
            </div>
            <div class="col-md-8 padd-5 leftContainer">
                <div class="col-xs-12 no-padd featuredArticle ">
                    <img src="{{FeaturedArticle.images.[0].url}}" class="col-xs-12 no-padd bottom-20">
                    <small class="_12">By: {{FeaturedArticle.author}}</small>
                    <p class="fgray1 _17" style="line-height: 25px;"><small>{{FeaturedArticle.body}}...</small></p>
                    <small class="_10 pull-right">Posted By: {{FeaturedArticle.postedBy}}</small>
                </div>
                <div class="col-xs-12 no-padd">
                    <div class="col-sm-12 padd-5" style="max-height: 380px;overflow-y: scroll">
                        {{#each Videos}}
                            <div class="video-container bottom-10">
                                <iframe
                                        src="http://www.youtube.com/embed/{{link}}?autoplay={{autoplay}}">
                                </iframe>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{>externalNews}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 no-padd">
                {{>siteFooter}}
            </div>
        </div>
    </div>
</template>