.site-body{
   background-color: #F1F1F1;
}
.sitePage{
    height: auto;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
}

#header-logo{
    border-bottom: 3px double #C0C0C0;
    margin-bottom:10px;
}

#header{
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
}

.login-form{
    width: 300px;
    height: auto;
    padding: 20px;
    box-shadow: 1px 1px 1px #DDDDDD;
    border-radius:5px;
    margin:25vh auto;
}

#blankLayoutBase{
    height: 100vh;
}
.page{
    border-top: solid 1px #C0C0C0;
}